.container 
{

}

.header 
{
	
}

.tabHeader 
{
	position: relative;
	background-color: red;
	float: left;
	border: 1px solid;
	border-color: black;
	width: 100px;
	height: 15px;
}

.tabHeader:hover
{
	background-color: yellow;
}

.tabHeaderShown 
{
	position: relative;
	background-color: red;
}

.tabContent 
{
	position: absolute;
	background-color: red;
	top: 15px;
	left: 0px;
	z-index: -1;
	width: 304px;
	height: 200px;
	border: 1px solid;
}

.tabContentShown 
{
	z-index: 1;
}



.unselectableText { 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-o-user-select: none; 
	user-select: none;
	cursor:default;
}


@media screen and (max-width:999px)
{
  .facet_sidebar {
	background-color: black;
  }
}

@media screen and (max-width:480px)
{
  .facet_sidebar {
	background-color: green;
  }
}

div.transbox {
	width: 400px;
	height: 180px;
	margin: 30px 50px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	top: 10px;
	left: 10px;
	position: absolute;
}

html { background: #000; }
		
@font-face {
   font-family: myFirstFont;
   src: url("../font/matrix code nfi.ttf");
}

html , body{
	width:  100%;
	height: 100%;
	margin: 0px;
}

canvas{font-family: myFirstFont;}

.slideshow{ position: relative; }

.box
{
	height: 200px;
	width: 500px;
	background-color:yellow;
	position: absolute; 	
}