div {
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}

html { background: #000; }
		
@font-face {
   font-family: matrixFont;
   src: url("../font/matrix code nfi.ttf");
}

html , body{
	width:  100%;
	height: 100%;
	margin: 0px;
}

canvas
{
	font-family: matrixFont;
	position: fixed;
	bottom: 0;
	right: 0;
}

section
{ 
	width: 99.9%;
	position: relative; 
	text-align: center;
	padding: 0px 5%;
	margin: 10px 0px;
}



.box
{
	width:  90%;
	height: auto;
	background-color:white;

	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.boxCurriculos
{
	width:  80% !important;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}





.button
{
	float:left;
	width: 6.9%;
	height:300px;
	background-color: black;
	cursor: pointer;
}

.buttonLeft
{
	border-top-left-radius:2em;   
	border-bottom-left-radius:2em; 
	background: url(../images/left.png) no-repeat center;    
	background-color: white;
	border: 1px solid black;
}

.buttonRight
{
	border-top-right-radius:2em;
	border-bottom-right-radius:2em;
	background: url(../images/right.png) no-repeat center;
	background-color: white;
	border: 1px solid black;
}

.slideshow
{
	float:left;			
	width: 76%;
	height:300px;
	background-color: white;
	border: 1px solid black;
}